html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #D3D3D3;
}

.settings,
.container,
.grid-container{
    height: 500px;
    max-width: 500px;
}

.container {
    padding: 0.2em;
    background-color: black;
    display: flex;
    min-width: 500px;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blocks {
    background-color: white;
    padding: 0;
    flex: auto;
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.header {
    text-align: center;
}

.title {
    font-size: 68px;
    margin: 0.3em;
}

.settings {
    box-sizing: border-box;
    align-self: flex-start;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.settings button {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 0.3em;
    background-color: gray;
    padding: 1em 2em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.settings button:hover,
input[type="color"]:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.settings button,
input[type="color"] {
    transition: transform 0.1s ease-in-out;
}

.grid-size {
    font-size: 28px;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-size p {
    font-size: small;
}

.warning {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

#github {
    color: #3366CC;
}

.r {
    color: red;
}

.a {
    color: orange;
}

.i {
    color: yellow;
}

.n {
    color: green;
}

.b {
    color: blue;
}

.o {
    color: indigo;
}

.w {
    color: violet;
}

.settings .active{
    background-color: white;
    color: black;
}

#color-picker{
    width: 150px;
    height: 60px;
    align-self: center;
}