.container{
    padding: 0.2em;
    background-color: black;
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
}

.blocks{
    background-color: aqua;
    padding: 0;
    border-style: solid;
    flex: auto;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.header{
    text-align: center;
}

.settings{
    align-self: flex-start;
    background-color: green;
    height: 400px;
}